In [1]:
from AirMap import *
# set your base key and API access key
base_key = base64.b64decode("YXBwN3pJN0ZEamNGbTVtRks=".encode('utf-8')).decode('utf-8')
airAPI_key = base64.b64decode("a2V5V3UxVjlJSGdFWWI1MGU=".encode('utf-8')).decode('utf-8')

In [2]:
# initiate AirMap
airMap = airtableDataMapper(base_key,airAPI_key)

# return the input sources of 'Project A - Client Summary' data map
airMap.findMappingView("Project A - Client Summary").viewInputSources()

['Internal_Import_Format2',
 'Internal_Table_Format1',
 'Internal_Import_Format1']

In [3]:
# return the input columns and sources of 'Project A - Client Summary' data map
airMap.findMappingView("Project A - Client Summary").viewInputColumns()

               InputSource     InputColumn       OutputColumn
0  Internal_Import_Format1     ServiceDate    Date of Service
1  Internal_Import_Format1       ClientDOB       PurchaserDOB
2  Internal_Import_Format1      ProviderID  ServiceProviderID
3  Internal_Import_Format1  PurchaseAmount     PurchaseAmount
5   Internal_Table_Format1   ServiceLineID    Line Service ID
4  Internal_Import_Format2      DocumentID           Document

In [4]:
# return the data map of 'Project A - Client Summary'
airMap.findMappingView("Project A - Client Summary").viewMap()

,OutputColumn,InputColumn,InputSource,MaxLength,ColumnPosition,DataType,Format,Active,Description,Required
0,Date of Service,ServiceDate,Internal_Import_Format1,10,1,Date,mm-dd-yyyy,Yes,Date of services rendered,Y
1,PurchaserDOB,ClientDOB,Internal_Import_Format1,10,2,Date,mm-dd-yyyy,Yes,Client's date of birth,Y
2,ServiceProviderID,ProviderID,Internal_Import_Format1,10,3,String,##########,Yes,Service providers ID,Y
3,PurchaseAmount,PurchaseAmount,Internal_Import_Format1,20,4,String,$dd.cc,Yes,Client's purchase,Y
5,Line Service ID,ServiceLineID,Internal_Table_Format1,8,5,String,########,Yes,Service providers ID,Y
4,Document,DocumentID,Internal_Import_Format2,10,6,String,NaN,Yes,DocumentID,N

In [5]:
# generate expected 'Project A - Client Summary' data output
# AirMap takes the data you provide and maps it as outlined in Airtable

Internal_Import_Format1 = pd.read_csv("Internal_Import_Format1.csv",dtype=str)
Internal_Import_Format2 = pd.read_csv("Internal_Import_Format2.csv",dtype=str)
Internal_Table_Format1 = pd.read_csv("Internal_Table_Format1.csv",dtype=str)

data = {'Internal_Import_Format1' : Internal_Import_Format1,
        'Internal_Import_Format2' : Internal_Import_Format2,
        'Internal_Table_Format1' : Internal_Table_Format1 }

airMap.findMappingView("Project A - Client Summary").mapData(data)

,Line Service ID,ServiceProviderID,Date of Service,PurchaserDOB,PurchaseAmount,Document
0,20394822,1938472929,10/09/2021,7/4/1776,$103.20,AJ3fLN32jS1SK2
1,20428284,1293018083,10/07/2021,12/30/1899,$120.12,J2sjldw3nSk4S2l
2,19428292,9420410832,10/08/2021,1/26/1980,$84.23,2Pn28dh1lsdD0Q